@import url("https://use.typekit.net/gjr1mij.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #0c0a09 0%, #4c1d95 35.5%, #7c3aed 64%, #a78bfa 100%);
  background-attachment: fixed;
  inset: 0;
  @apply text-white;
  @apply font-Poppins;
}
